[submodule "opensync/core"]
	path = opensync/core
	url = git@github.com:sdyear/opensync.git
[submodule "opensync/platform/openwrt"]
	path = opensync/platform/openwrt
	url = git@github.com:plume-design/opensync-platform-openwrt.git
[submodule "opensync/vendor/ath79"]
	path = opensync/vendor/ath79
	url = git@github.com:sdyear/opensync-vendor-ath79.git
